.small-flag {
    width: 20px;
}

.medium-flag {
    width: 40px;
}

#rankings-form {
    margin: 20px;
}

.button-under-form {
    margin-top: 5px;;
}

.search-match {
    color: red;
    font-weight: bold;
}

.no-padding-top {
    padding-top: 0;
}
.form-title {
    font-weight: bold;
}
.form-check-search-targetlanguages {
  margin-right: 0;
  padding-left: 0.6em;
}
.orange {
    color: orange !important;
}
.green {
    color: green !important;
}

/* this is used to make the dropdown menu open on hover*/
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}

/* Move the switch inside the dropdown-item */
#switchOpenDyslexic {
    margin-left: -0.5em !important;
}

/* Ensure the label has enough space */
#labelSwitchOpenDyslexic {
    margin-left: 0.5rem; /* Adjust the margin as needed */
}
