{% extends 'base.html.twig' %}

{% set title = "Choisissez les cubeurs et cubeuses que vous souhaitez voir participer à la coupe de france 2025 !" %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div>
        <h1>{{ title }}</h1>

        {% if signed_in %}
            {% if already_voted %}
                <p class="p-3 text-success-emphasis bg-success-subtle border border-success-subtle rounded-3">Vous avez voté. Mais vous pouvez toujours modifier votre vote ci-dessous:</p>
            {% else %}
                <p class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">Vous n'avez pas encore voté. Veuillez le faire ci-dessous.</p>
            {% endif %}
            <p class="p-3 text-secondary-emphasis bg-secondary-subtle border border-primary-subtle rounded-3">N'hésitez pas à consulter les classements théoriques (psych sheets) <a
                        href="https://www.worldcubeassociation.org/competitions/FrenchChampionship2025/registrations" target="_blank">ici</a></p>
            {{ form(form) }}
        {% else %}
            <p class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
                Vous devez vous connecter avec votre compte WCA pour pouvoir voter. Connectez-vous en cliquant <a href="{{ path('signin') }}">ici</a>.
            </p>
        {% endif %}
    </div>
{% endblock %}
